<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Editar processo:</h1>
      </div>
  </div>
</div>
<%= render "form", processo: @processo %>
